<script>
    window.onload = function(){
        var script   = document.createElement("script");
        script.type  = "text/javascript";
        script.src   = "https://daviddyess.com/widget.js";    // use this for linked script
        //script.text  = "alert('voila!');"               // use this for inline script
        script.crossorigin  =  "anonymous";
        document.body.appendChild(script);
    }
</script>

<div class="zillow-reviews" data-user="eliasmedina1"> </div>

<div class="zillow-reviews" data-user="nmhomes alicia"> </div>

<div class="zillow-reviews" data-user="markgarcia2424"> </div>

<div class="zillow-reviews" data-user="shantellerojo"> </div>

<div class="zillow-reviews" data-user="rudyrojo"> </div>
