<button type="button" class="c-button c-button--default c-button--sm" data-toggle="tooltip" data-placement="bottom" title="<?= $thread['tcount']; ?> comments"><?= $thread['tcount']; ?> <i class="fa fa-comment"></i></button>