<section class="c-app">
  <div class="c-app__head">
    <h1><a href="<?= \clay\application::url('dashboard');?>" class="dashlink" title="Dashboard">Dashboard</a> / 
    Profile Editor</h1>
  </div>
  <div class="c-app__content">
  Profile editor
  </div>
</section>