<div class="c-card">
	<div class="c-card__header">
		<div class="c-card__title c-card__title--bar">
			<i class="fa fa-plug dash-icon-lg"></i> Markdown
		</div>
	</div>
	<div class="c-card__content">
		<?php if(!empty($admin))?><a href="<?= $admin; ?>" class="dashlink">Settings</a>
	</div>
</div>