<style type="text/css">
#dashboard div.app-data-grid { min-width:150px;max-width:300px;height:150px;}  
</style>
<div class="c-app__head">
  <h1>Dashboard</h1>
</div>
<div id="dashboard" class="c-app__content">

	<?php foreach($items as $dash){ ?><?php \Clay\Application\Component::Template($dash); ?><?php } ?>
	

</div>