<div id="dashMessages">
<script type="text/javascript">
	$('document').ready(function(){		
		$.fn.showtime = function(){
			$("button[id=show-time]").html(30);
            window.setInterval(function() {                
                var timeCounter = $("button[id=show-time]").html();
                var updateTime = eval(timeCounter)- eval(1);
                $("button[id=show-time]").html(updateTime);
                if(updateTime == 0){
                	$('#dashMessageBox').empty();
                }
            }, 1000);
            
   		 };
		$('.messageClose').click(function(){			
			$('#dashMessageBox').empty();
			return false;
		});
		var settimmer = 0;
		$('span.loading').hide();
		//$('#dashMessageBox').delay(30000).hide();
		$('button#show-time').showtime();  		
	});    
</script>
	<div id="dashMessage" class="message">
	<?php if(!empty($messages)){ 
			if(is_array($messages)) {
				foreach($messages as $msg) {
					echo '<p>'.$msg.'</p>';
				}
			} else {
				echo '<p>'.$messages.'</p>';
				?>
	  <?php }?>
		<?php }
	?>
	</div>
	<div id="dashMessageButton"><button id="show-time" class="messageClose" title="Close">Ok</button></div>
</div>