div#dashMessageBar, span.loading {	
	position:fixed;
	text-align:center;
	left:0;
	right:0;
	z-index:3;
}
div#dashMessageBar {
	opacity:0.9;
}
div#dashMessageBox {
	
	font-weight:bold;
	font-size:1.5em;
	z-index:3;
	
}
div#dashMessages div.message, div#dashMessageButton {
	color:#000;
	background-color:#fff;
	margin-left:auto;
	margin-right:auto;
	max-width:33%;
}