div#dashbar {	
	color:#ffffff;
	padding:5px;
	margin:auto;
	height:25px;
	position:absolute;
	top:0;
	left:0;
	right:0;
	z-index:3;
	background-image:url('../images/toolbg.png')
}
.dashopen{
        text-align:right;
        z-index:3;
        position:absolute;
        top:5px;
        right:5px;
        
}
.dashclose{
		display:none;
        position:absolute;
        right:5px;
        top: 5px;
        z-index:3;
}
.dashback{
		display:none;
        position:absolute;
        right:55px;
        top: 5px;
        z-index:3;
}
button.dashbutton {border: 0 none;background-image:url('../images/toolbg.png');}
button.dashbutton:hover {border: 1px #5a5a5a;background-color:#333534;}
#dashmenu, #dashbox{
    	margin-left:auto;margin-right:auto;   
        position:absolute;
        top:35px;
        left:0;
        right:0;
        z-index:2;
}
img.dashicon {background-color: inherit;}
img.dashicon:hover, img.dashopen:hover {opacity:1;background-color:#333534;cursor: pointer; cursor: hand;}
img.closeicon {}
img.closeicon:hover {opacity:1;background-color: #ce041b;cursor: pointer; cursor: hand;}
span.dashright{ text-align:right;
        z-index:3;
        position:absolute;right:0;
        margin-right:35px;}