<div id="dashMessages">
	<div class="alert alert-info">
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	  <?php if(!empty($messages)){ 
				if(is_array($messages)) {
					foreach($messages as $msg) {
						echo '<p>'.$msg.'</p>';
					}
				} else {
					echo '<p>'.$messages.'</p>';
					?>
		  <?php }?>
			<?php }
		?>
	</div>
</div>