div#dashMessageBar, span.loading {	
	position:fixed;
	text-align:center;
	left:0;
	right:0;
	top: 47px;
	z-index:3;
}
div#dashMessageBar {
	opacity:0.9;
}
div#dashMessageBox {
	z-index:3;	
}
div#dashMessages {
	color:#000;
	background-color:#fff;
	margin-left:auto;
	margin-right:auto;
	max-width:33%;
}