<div>
	<label>Application</label>
	<select name="content[app]" id="app">
	<?php foreach($apps as $app){?>
		<option value="<?= $app['name']; ?>"><?= $app['name']; ?></option>
	<?php } ?>
	</select>
</div>
<div>
	<label>Component</label>
	<input type="text" name="content[com]" id="com" />
</div>
<div>
	<label>Action</label>
	<input type="text" name="content[act]" id="act" />
</div>
<div>
	<label>Query</label>
	<input type="text" name="content[query]" id="query" />
</div>