#dashmenu, #dashbox{
    	margin-left:auto;margin-right:auto;   
        position:absolute;
        left:0;
        right:0;
        z-index:1;
        background-color:#fff;
}

/*
Bootstrap Override
*/

div.modal-backdrop {
	z-index: 0;
}