<?php if (!empty($this->label)){ ?>
<label for="<?= $this->attributes['id']; ?>" title="<?= $this->attributes['title']; ?>"><?= $this->label; ?></label>
<?php } ?>
<input <?php if(!empty($this->attributes)){ foreach($this->attributes as $attr => $value) { 
	if($attr == 'class'){ echo 'class="c-button '.$value.'"'; $class = TRUE; } echo $attr.'="'.$value.'" '; } } 
	if(empty($class)){ echo 'class="c-button"'; }?> />
