<?php if (!empty($this->label)){ ?>
<label for="<?= $this->attributes['id']; ?>" title="<?= $this->attributes['title']; ?>"><?= $this->label; ?></label>
<?php } ?>
<input type="text" class="c-field" <?php if(!empty($this->attributes)){ foreach($this->attributes as $attr => $value) { echo $attr.'="'.$value.'" '; } } ?>/>
