<section class="c-app">
	<div class="c-app__head">
		<h1>Markdown</h1>
	</div>
	<div class="container-fluid c-app__content">
		<div class="row-fluid">
			<div class="col-md-12 col-sm-12">
				Hello <?= $user['uname']; ?>
			</div>
		</div>
	</div>
</section>