div#dashMessageBar, span.loading {

}
div#dashMessageBar {
	opacity:0.9;
}
div#dashMessageBox {

}
div#dashMessages {
	color:#000;
	background-color: transparent;
	margin-left:auto;
	margin-right:auto;
	position: relative;
	text-align:center;
	left:0;
	right:0;
}
div#dashMessages .alert {
	margin-bottom:0;
}
