div.user-admin-dash span.user-admin-tabs {
	padding:10px;
	margin:0;
	background-color: #F0F0F0;
	border:1px solid #E2E2E2;
	font-weight:bold;
	font-size:1.3em;
}
div.user-admin-dash a {
	text-decoration:none;
}
div.user-admin-dash span.user-admin-tabs:hover {
	background:#02c6f0;
	color:#F0F0F0;
}
div.infobox {
	margin-top:30px;
	margin-bottom:30px;
	height: 15px;
}
span.infobox {
	display:none;
	background-color:#c6ff8e;
	padding:10px;
	font-weight:bold;
	border:1px solid #84ff84;
}