#dashmenu, #dashbox, #dashErrorBox{
  margin-left:auto;margin-right:auto;
  position:absolute;
  left:0;
  right:0;
  z-index:3;
  background-color:#fff;
}
div#dashErrors {
	color:#000;
	background-color:#fff;
  border:5px solid rgb(218, 45, 7);
  padding:10px;
}

/*
Bootstrap Override
*/

div.modal-backdrop {
	z-index: 0;
}
