@import url(http://fonts.googleapis.com/css?family=Ubuntu|Open+Sans:400italic,700italic,400,700);

$font-primary:   'Ubuntu', san-serif !default;
$font-secondary: 'Open Sans', serif !default;

$text-color-body: #444444;
$text-color-container: rgb(83, 83, 83);
$text-color-primary: #363636;
$text-color-secondary: #55746d;
$text-color-accent: #50a78d;
$text-color-accent-alt: #3ccfaf;
$text-color-info: #398eb6;
$text-color-danger: #ff1818;
$text-color-success: #54d11a;
$text-color-warning: #ff9900;
$text-color-light: #bebebe;
$text-color-dark: #575757;

$background-color-body: #e1fffa;
$background-text-color-body: #000000;
$background-color-container: #f7f7f7;
$background-text-color-container: #313131;
$background-color-primary: #96cbee;
$background-text-color-primary: #ffffff;
$background-color-secondary: #A7FFEB;
$background-text-color-secondary: #2c7777;
$background-color-accent: rgb(0, 225, 255);
$background-text-color-accent: #ffffff;
$background-color-accent-alt: #cbe0de;
$background-text-color-accent-alt: #757575;
$background-color-info: #B2EBF2;
$background-text-color-info: #000000;
$background-color-danger: #F44336;
$background-text-color-danger: #ffffff;
$background-color-success: #c6ff8e;
$background-text-color-success: #000000;
$background-color-warning: #FFEB3B;
$background-text-color-warning: #000000;
$background-color-light: #00ffe5;
$background-text-color-light: #000000;
$background-color-dark: #006969;
$background-text-color-dark: #ffffff;

/* Components Overrides */
/* Header */
$iota-components-header-border: 0.150em solid #c2efef;
$iota-components-header-shadow: 10px 10px 15px #CCE8E8, inset 0 0 4em #CCE8E8;
$iota-components-header-padding: 5px 10px 10px 15px;
$iota-components-header-margin: 3px 0 5px 0;
/* Sidebar */
$iota-components-sidebar-border: 0.150em solid #c2efef;
$iota-components-sidebar-background: #EDF4F5;
/* App */
$iota-components-app-shadow: 10px 10px 15px #CCE8E8;
$iota-components-app-border: 0.150em solid #c2efef;
$iota-components-app-color: #054950;

/*
border: 0.150em solid #c2efef;
	box-shadow: 10px 10px 15px #CCE8E8; -moz-box-shadow: 10px 10px 15px #CCE8E8; -webkit-box-shadow:10px 10px 15px #CCE8E8;
	font-size:1em;
	color: #054950;
*/


@import '../../.sass/src/main.scss';

/* Common Menu Styles */

div.common-menu {border:2px solid #C3D6DE;padding:3px;}
div.common-menu a:link, div.common-menu a:visited, div.common-menu a:active {font-weight: bold;color:#4D656F}
