body {
	background-color: #054950;
	font-family: arial;
	font-size:.85em;
	color: #404040;
}
a:link {text-decoration:none; color:#355850; }
a:visited {text-decoration:underline;color:#2F2F2F;}
a:active {text-decoration:none;}
a:hover {text-decoration:underline;color:#2F2F2F; }
h1,h2,h3,h4 {
	/*color: #054950;*/ color:#4D656F;
}
.ctx-body {
	background-color: #EDF4F5;
	border: 1px solid #EDF4F5; padding: 10px;
	box-shadow:inset 0 0 4em #CCE8E8; -moz-box-shadow: inset 0 0 4em #CCE8E8; -webkit-box-shadow:inset 0 0 4em #CCE8E8;
}
.ctx-header {
	border: 0.150em solid #c2efef;
	box-shadow: 10px 10px 15px #CCE8E8, inset 0 0 4em #CCE8E8; -moz-box-shadow: 10px 10px 15px #CCE8E8, inset 0 0 4em #CCE8E8; -webkit-box-shadow:10px 10px 15px #CCE8E8, inset 0 0 4em #CCE8E8;padding: 5px 10px 10px 15px;margin-bottom:5px;
}
.ctx-header h1 {color:#4D656F}
.ctx-container {
	background-color:#c2efef;
}
.ctx-left-column {
	float:left;	
	width: 200px;
	border: 0.150em solid #c2efef;
	/*box-shadow: 10px 10px 15px #CCE8E8; -moz-box-shadow: 10px 10px 15px #CCE8E8; -webkit-box-shadow:10px 10px 15px #CCE8E8;*/
	font-size:1em;
	color: #054950;
	background-color:#EDF4F5;
	padding:2px;
}
.ctx-main {
	background-color:#EDF4F5;z-index:1;
}
.ctx-middle {
	margin-left: 205px;
}
.ctx-footer {
	clear:both;
}
div.app-head  {
	padding: 2px 5px;
	box-shadow:1px 1px 15px #054950, inset 0 0 4em #CCE8E8; -moz-box-shadow:1px 1px 15px #054950, inset 0 0 4em #CCE8E8; -webkit-box-shadow:1px 1px 15px #054950, inset 0 0 4em #CCE8E8;
	font-size:1.6em;
	color: #054950;
}
.app-head h1 {
	font-size:1em;
}
.app-head h2 {
	font-size:0.8em;
}
.app-head h3 {
	font-size:0.6em;
}
.app-head h4 {
	font-size:0.4em;
}
div.app-content {
	border: 0.150em solid #c2efef;
	box-shadow: 10px 10px 15px #CCE8E8; -moz-box-shadow: 10px 10px 15px #CCE8E8; -webkit-box-shadow:10px 10px 15px #CCE8E8;
	font-size:1em;
	color: #054950;
}
div.app-content h1 {
	font-size: 1.4em;
	font-weight:normal; padding: 2px;
	box-shadow:-3px 3px 15px #054950; -moz-box-shadow:-3px 3px 15px #054950; -webkit-box-shadow:-3px 3px 15px #054950;
}
div.app-content h2 {
	font-size: 1.3em;
	font-weight:normal; padding: 2px;
	box-shadow:-3px 3px 15px #054950; -moz-box-shadow:-3px 3px 15px #054950; -webkit-box-shadow:-3px 3px 15px #054950;
}
div.app-content h3 {
	font-size: 1.2em;
	font-weight:normal; padding: 2px;
	box-shadow:-3px 3px 15px #054950; -moz-box-shadow:-3px 3px 15px #054950; -webkit-box-shadow:-3px 3px 15px #054950;
}
div.app-content h4 {
	font-size: 1.1em;
	font-weight:normal; padding: 2px;
	box-shadow:-3px 3px 15px #054950; -moz-box-shadow:-3px 3px 15px #054950; -webkit-box-shadow:-3px 3px 15px #054950;
}
div.app-content p {
	margin: 6px 0 6px 0;
	padding: 3px;
}
div.app-content-area {		
}

div.app-content table.app-data {
	width: 100%;
	-webkit-border-radius: 4px; border: 0.150em solid #9bccca;
	border-radius: 4px; -moz-border-radius: 4px;
	box-shadow: 10px 10px 15px #CCE8E8, inset 0 0 4em #CCE8E8; -moz-box-shadow: 10px 10px 15px #CCE8E8, inset 0 0 4em #CCE8E8; -webkit-box-shadow:10px 10px 15px #CCE8E8, inset 0 0 4em #CCE8E8;padding: 15px 20px 20px 20px;margin-bottom:5px;
	
}
div.content-area table.app-data-area {
	-webkit-border-radius: 4px; border: 0.150em solid #9bccca;
	border-radius: 4px; -moz-border-radius: 4px;
	box-shadow: 10px 10px 15px #CCE8E8, inset 0 0 4em #CCE8E8; -moz-box-shadow: 10px 10px 15px #CCE8E8, inset 0 0 4em #CCE8E8; -webkit-box-shadow:10px 10px 15px #CCE8E8, inset 0 0 4em #CCE8E8;
	
}
div.app-content table.app-data h2, div.app-content div.content-area  h2{
	padding: 0 5px 0 5px;
	font-size: 1.4em;
	color: #406980;
	font-weight: bold;
	background-color:#EDF4F5;
}
div.app-content table.app-data th, div.content-area table.app-data-area th {
	background-color: #deedf0;
	border: 1px solid #9bccca;
	color: #054950;
	padding:3px;
}
div.app-content table.app-data tr.row, div.app-content table.app-data tr.row td, div.content-area table.app-data-area tr.row, div.content-area table.app-data-area tr.row td {
	/*background-color: #D9E2E1;*/
	border: 1px solid #B0DFDF;
	padding:3px;
}

div.app-content table.app-data tr.alt-row, div.app-content table.app-data tr.alt-row td, div.content-area table.app-data-area tr.alt-row, div.content-area table.app-data-area tr.alt-row td {
	background-color: #d0eaea;
	border: 1px solid #9bccca;
	padding:3px;

}
div.app-content legend {
	padding: 0 5px 0 5px;
	font-size: 1.2em;
	color: #406980;
	font-weight: bold;
	border: 0.075em solid #B0DFDF;
	background-color:#EDF4F5;
}
div.app-content label {
	padding: 5px;
	font-size: 1.15em;
	color: #406980;
}
div.app-content fieldset {
	margin-top: 5px;
	border: 0.150em solid #B0DFDF;
	box-shadow: 10px 10px 15px #CCE8E8, inset 0 0 4em #CCE8E8; -moz-box-shadow: 10px 10px 15px #CCE8E8, inset 0 0 4em #CCE8E8; -webkit-box-shadow:10px 10px 15px #CCE8E8, inset 0 0 4em #CCE8E8;padding: 15px 20px 20px 30px;margin-bottom:5px;
}
div.app-content div.content-area {
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border: 0.150em solid #B0DFDF;
	box-shadow: 10px 10px 15px #CCE8E8, inset 0 0 4em #CCE8E8; -moz-box-shadow: 10px 10px 15px #CCE8E8, inset 0 0 4em #CCE8E8; -webkit-box-shadow:10px 10px 15px #CCE8E8, inset 0 0 4em #CCE8E8;padding: 15px 20px 20px 30px;margin-bottom:5px;
}



input[type="button"]:hover, input#submit:hover, button:hover {
	background-color:#349191;
}
input[type="button"], input#submit, input.next, input.stop, input.prev, button {
	background-color: #156d70;
	color: white;
	font-weight: bold;
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
	border: 0.150em solid #B0DFDF;
}
input.stop {
	background-color: red;
}
input.prev {
	background-color: yellow;
}
input.next {
	background-color: #156d70;
}
div#app-navbar { padding: .3em 0; margin: 1px 0; }
div#app-navbar span { /*-moz-border-radius: 4px; -webkit-border-radius: 4px;*/ border: 0.1em solid #B0DFDF; background-color: #CEE8E8; padding: .3em; font-size: 1.1em; font-weight: bold; }
div#app-navbar span a { font-variant: small-caps; text-decoration: none; color: #4e819c;}
div#app-navbar span:hover { background-color: #EDF4F5 ; color:teal;}

/* Common Menu Styles */

div.common-menu {width:190px;border:2px solid #C3D6DE;padding:3px;}
div.common-menu a:link, div.common-menu a:visited, div.common-menu a:active {font-weight: bold;color:#4D656F}