/*
HTML Styles
*/

body {
	
}

h1, h2, h3, h4, h5, h6 {

}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 16px;
}

h4 {
	font-size: 14px;
}

h5 {
	font-size: 12px;
}

h6 {
	font-size: 10px;
}

/*
-- Clay Styles --
*/

/* Blocks */

.block {
	/*border: 2px solid #000;*/
	/*background-color: #02c6f0;*/
	/*background-color: #c2d4fc;*/
	background-color: #efeded;
	padding: 1px;
	margin: 10px 0 0 0;
}

.block-title {
	font-size: 16px;	
	/*font-family: sans-serif;*/
	/*color: #dee2e0;*/
	color: #444645;
	padding: 2px 5px;
	/*background-color: #444645;*/
	/*background-color: #b0c8fc;*/
	background-color: #f9f9f9;
	border-bottom: 1px solid #dbddff;
}

.block-content {
	font-size: 12px;
	padding: 5px;
	/*background-color: #f5f5ed;*/
	background-color: #fff;
}

/*
Bootstrap Styles (override)
*/

.navbar-inverse .navbar-inner {
	background-image: url('black_denim.png');
}

/*
Vision Theme Styles
*/

.page-wrapper {
	padding:0;
	background: repeat url('stacked_circles.png');
}

.page-nav .span12 {

}

.page-main {
	/*background-color: #eaf1ff;*/
	/*background-color: #ebeaff;*/
}

.page-sidebar {
	/*background-color: #c2d4fc;*/
	padding:5px 15px 7px 15px;
	
}

.page-main .span10 {
	margin-left: 0px;
}

.page-content {
	background-color: #fff;
	border-left: 1px solid #dbddff;
	border-right: 1px solid #dbddff;
	border-bottom: 1px solid #dbddff;
	padding:0 7px 7px 9px;
}