@import url(http://fonts.googleapis.com/css?family=Ubuntu|Open+Sans:400italic,700italic,400,700);

$font-primary:   'Ubuntu', san-serif !default;
$font-secondary: 'Open Sans', serif !default;

$text-color-body: #444444;
$text-color-container: rgb(83, 83, 83);
$text-color-primary: #445258;
$text-color-secondary: #55746d;
$text-color-accent: #8b8b89;
$text-color-accent-alt: #3ccfaf;
$text-color-info: #398eb6;
$text-color-danger: #ff1818;
$text-color-success: #54d11a;
$text-color-warning: #ff9900;
$text-color-light: #bebebe;
$text-color-dark: #575757;

$background-color-body: #e1fffa;
$background-text-color-body: #000000;
$background-color-container: #f7f7f7;
$background-text-color-container: #313131;
$background-color-primary: #9bbbca;
$background-text-color-primary: #ffffff;
$background-color-secondary: #A7FFEB;
$background-text-color-secondary: #55746d;
$background-color-accent: #8b8b89;
$background-text-color-accent: #ffffff;
$background-color-accent-alt: #a4d3ec;
$background-text-color-accent-alt: #757575;
$background-color-info: #B2EBF2;
$background-text-color-info: #000000;
$background-color-danger: #F44336;
$background-text-color-danger: #ffffff;
$background-color-success: #c6ff8e;
$background-text-color-success: #000000;
$background-color-warning: #FFEB3B;
$background-text-color-warning: #000000;
$background-color-light: #00ffe5;
$background-text-color-light: #000000;
$background-color-dark: #006969;
$background-text-color-dark: #ffffff;

/* Components Overrides */
/* Header */
/* Sidebar */
$iota-components-sidebar-background: repeat url('stacked_circles_lightblue.png');
$iota-components-sidebar-border-left: 8px solid #a4d3ec;
$iota-components-sidebar-border-right: 8px solid #a4d3ec;
/* App */
$iota-components-app-border-top: 1px solid #d9ebf5;
$iota-components-app-border-bottom: 2px solid #d9ebf5;
//$iota-components-app-border-left: 8px solid #a4d3ec;
$iota-components-app-border-right: 4px solid #a4d3ec;
/* Navbar */
$iota-components-navbar-background: url('black_denim.png');
$iota-components-navbar-brand-color: rgb(128,128,128);
$iota-components-navbar-brand-color-hover: rgb(255,255,255);
$iota-components-navbar-item-color: rgb(128,128,128);
$iota-components-navbar-item-color-hover: rgb(255,255,255);

@import '../../.sass/src/main.scss';
