/*
HTML Styles
*/

body {}

h1 {
	font-size: 24px;
	line-height: 32px;
	color: #9bbbca;	
}

h2 {
	font-size: 20px;
	line-height: 28px;
	color: #9bbbca;
}

h3, h4, h5 {
	margin: 3px 0;
}

h3 {
	font-size: 16px;
	line-height: 24px;
	color: #585858;
}

h4 {
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	color: #3f3f3f;
}

h5 {
	font-size: 12px;
	line-height: 20px;
	color: #262626;
}

h6 {
	font-size: 10px;
	line-height: 20px;
	color: #000000;
	border: none;
}

footer {
	padding: 0 0 0 10px;
}

footer h6 {
	margin: 0;
}

label {
	font-weight: bold;
}

table { 
	/*margin: 10px 0 30px 0;*/
	margin: 10px 0 20px 0;
	background-color: #444645;
	padding: 2px 2px 3px 2px;
}

table tr th, table tr td {	
	color: #FFF;
	padding: 7px 4px;  
	vertical-align: top;
  }

table tr th {
	font-weight:bold;
	text-align: center;
	background-color: #595959;
}

table tr td {
	text-align: left;
	background-color: #fff;
	color: #47433F;
	border-top: 2px solid #FFF;
}

table tr.row-alt td {
	background-color: #E5E5DB;
}

/*
-- Clay Styles --
*/

.accent {
	background-color: #f9f9f9;
	font-size: 16px;
	color: #8b8b89;
}

.accent-outline {
	border: 1px solid #dbddff;
}

.accent-alt {
	
}

.accent-alt-outline {
	
}

/* Blocks Application */

.block {
	/*border: 2px solid #000;*/
	/*background-color: #02c6f0;*/
	/*background-color: #c2d4fc;*/
	background-color: #efeded;
	padding: 1px;
	margin: 0;
	border-bottom: 2px solid #d9ebf5;
}

.block-title {
	font-size: 16px;	
	/*font-family: sans-serif;*/
	/*color: #dee2e0;*/
	color: #444645;
	padding: 2px 5px;
	/*background-color: #444645;*/
	/*background-color: #b0c8fc;*/
	/*background-color: #f9f9f9;*/
	background-color: #d9ebf5;
	border-bottom: 1px solid #a4d3ec;
	opacity: .6;
}

.block-content {
	font-size: 12px;
	padding: 5px;
	/*background-color: #f5f5ed;*/
	background-color: #fff;
}

/* Dashboard Application */

#dashmenu, #dashbox {
	border-bottom: 1px solid #dddfec;
}

.dash-grid {
	border: 1px solid #dddfec;
}

.dash-grid .app-head {
	text-align: center;
}

.dash-grid .app-head h4 {
	margin: 2px 0;
	background-color: #d9ebf5;
}

.dash-grid .app-content {
	padding: 10px;
	text-align:center;
}

.dash-grid span.dash-icon-lg, .dash-grid i.dash-icon-lg {
	font-size:38px; 
	color: gray; 
	display:block;
	margin-right:auto;
	margin-left:auto;
}
.grid {
	width:100%;
}

.grid-center {
	margin-left:auto;
	margin-right:auto;
}

.grid-row {}
/*
.grid .grid-cell:nth-child(2){
	margin-left: 10px;
	right-right: 10px;
}*/
/*
.grid .grid-cell:last-child(2){
	margin-left: 0px;
	right-right: 0px;
}*/

.grid-cell {
	position: relative;
	float:left;
}

.grid-cell-sm {
	height: 150px;
	min-width: 150px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.grid-cell-med {
	height: 200px;
	min-width: 150px;
	margin-right:15px;
	margin-bottom: 15px;
}

.grid-cell-lg {
	height: 250px;
	min-width: 250px;
}

.grid-cell-ex {
	min-height: 300px;
	min-width:300px;
}
/* Div styling to mimic Tables */
div.table {
	margin: 10px 0 20px 0;
	display:inline-block;
	background: #444645;
	padding: 2px 2px 3px 2px;
	width:auto;
}

div.table .table-header, div.table .table-cell, div.table .table-cell-alt {
	padding: 7px;
	display: inline-block;
	vertical-align: top;
}

div.table .table-header {
	color: #FFF;
	font-weight:bold;
	text-align: center;
	background: #595959;
}

div.table .table-row {
	
}

div.table .table-row-active {
	border-top: 3px solid #02c6f0;
	border-bottom: 3px solid #02c6f0;
}
div.table .table-row-alt {
	
}

div.table .table-cell {
	background: #FFF;
	color: #47433F;
	border-top: 2px solid #a5a5a4;
}

div.table .table-cell-empty {

}

div.table .table-cell-alt {
	background: #FFF;
	color: #47433F;
	border-top: 2px solid #02c6f0;
	
}

div.table .table-row a  {
	text-decoration: none;
}

div.table .table-row a:hover .table-cell, .table-row a .table-cell:hover, .table-row a .table-cell-alt:hover {
	background:#02c6f0; 
	color:#F0F0F0;
	font-weight: 900;
	text-decoration: underline;
}

div.table .table-row a .table-cell:hover, .table-row a .table-cell-alt:hover {
	text-decoration: none;
}

div.table .table-row .table-cell a:hover {
	text-decoration: underline;
}

/* Content */

.bg-clear {

padding: 4px;
background-color: #fff;
border: 1px solid #ddd;
border-radius: 4px;
}

/*
Bootstrap Styles (override)
*/
/* Navbar background */
.navbar-inverse {
	background-image: url('black_denim.png');
}

/*
Vision Theme Styles
*/


.page-main {
	background: repeat url('stacked_circles_lightblue.png');
	border-bottom: 2px solid #dbddff;
	margin-right:0;
	padding-right:0;
}

.page-main .page-sidebar {
	margin-top:0;
	padding:0;
	border-left: 8px solid #a4d3ec;
	border-right: 4px solid #a4d3ec;
}

.page-main .page-content {
	border-top: 1px solid #d9ebf5;
	border-bottom: 2px solid #d9ebf5;
	background-color: #fff;
	border-left: 8px solid #a4d3ec;
	margin-right:0;
	border-right: 4px solid #a4d3ec;
	padding:0 0 7px 7px;
}

.page-content {
	
}

.page-panel-left {
	margin-left:250px;
}

.page-panel {
	
}

/*
Bootstrap Additions
*/

.well-lite {
	background-color: #fff;
}

