// Navbar Component

// Options

$iota-components-navbar            : true;

$iota-components-navbar-namespace  : 'navbar' !default;

$iota-components-navbar-color      : buttontext !default;
$iota-components-navbar-margin     : 0 !default;
$iota-components-navbar-padding    : 4px 6px !default;
$iota-components-navbar-border     : 1px outset buttonface !default;
$iota-components-navbar-background : linear-gradient(to right, rgba(0, 150, 135, 0.507), rgba(0, 150, 135, 0.26)) !default;
$iota-components-navbar-border-radius: 3px !default;
$iota-components-navbar-shadow     : 0px 2px 2px 0px rgba(0,0,0,0.2) !default;
$iota-components-navbar-height     :24px !default;
$iota-components-navbar-animation  : none !default;

$iota-components-navbar-brand-color: black !default;
$iota-components-navbar-brand-color-hover: gray !default;
$iota-components-navbar-brand-font-size: 1.6em !default;
$iota-components-navbar-brand-font-weight: bold !default;
$iota-components-navbar-brand-font: $font-primary !default;
$iota-components-navbar-brand-decoration: none !default;

$iota-components-navbar-item-color: black !default;
$iota-components-navbar-item-color-hover: gray !default;
$iota-components-navbar-item-background: none !default;
$iota-components-navbar-item-background-hover: rgba(255, 255, 255, 0.124) !default;

$iota-components-navbar-subitem-background: rgba(255, 255, 255, 0.918) !default;
$iota-components-navbar-subitem-background-hover: rgb(255, 255, 255) !default;
$iota-components-navbar-subitem-border: 1px solid rgba(0,0,0,0.2) !default;
$iota-components-navbar-subitem-link-border: 1px solid rgb(94, 74, 74) !default;
$iota-components-navbar-subitem-link-border-hover: 1px solid rgb(0, 255, 242) !default;
$iota-components-navbar-subitem-color: $iota-components-navbar-item-color !default;


// Helper Local Variables

$iota-components-navbar-var-navbar: $iota-global-components-namespace + $iota-components-navbar-namespace;

.#{$iota-components-navbar-var-navbar}{
  width: 100%;
  background: $iota-components-navbar-background;
  animation: $iota-components-navbar-animation;
  display:flex;  
  flex-direction:column;
  box-shadow: $iota-components-navbar-shadow;
  line-height: $iota-components-navbar-height;
}

.#{$iota-components-navbar-var-navbar}__menu {
  margin:0;
  padding: 0 10px;
  display:flex;
  flex-flow: row wrap;
}

.#{$iota-components-navbar-var-navbar}__brand {
  font-family: $iota-components-navbar-brand-font;
  margin: 0;
  list-style-type:none;
  a {
    text-decoration: $iota-components-navbar-brand-decoration;
    font-weight: $iota-components-navbar-brand-font-weight;
    font-size: $iota-components-navbar-brand-font-size;
    color: $iota-components-navbar-brand-color;
    display:flex;
    padding: 10px;
  }
  a:hover {
    color: $iota-components-navbar-brand-color-hover;
  }
}

.#{$iota-components-navbar-var-navbar}__item {
  margin: 0;
  display:block;
  list-style-type:none;
  a {
    text-decoration: none;
    color: $iota-components-navbar-item-color;
    text-align: center;
    padding: 10px;
    background: $iota-components-navbar-item-background;
    margin:0;
    display: block;
  }
  a:hover {
    background: $iota-components-navbar-item-background-hover;
  }
}

.#{$iota-components-navbar-var-navbar}__subitem, .#{$iota-components-navbar-var-navbar}__subitem--click {
  margin: 0;
  position: absolute;
  display: none;
  border: $iota-components-navbar-subitem-border;
  z-index: 9999;
  a {
    background: $iota-components-navbar-subitem-background;
    border-bottom: $iota-components-navbar-subitem-link-border;
    color: $iota-components-navbar-subitem-color;
  }
  a:hover {
    background: $iota-components-navbar-subitem-background-hover;
    border-bottom: $iota-components-navbar-subitem-link-border-hover;
  }
}

.#{$iota-components-navbar-var-navbar}__item:hover .#{$iota-components-navbar-var-navbar}__subitem {
  display: block;
}

.#{$iota-components-navbar-var-navbar}__item:focus .#{$iota-components-navbar-var-navbar}__subitem--click {
  display: block;
}

.#{$iota-components-navbar-var-navbar}__item .#{$iota-components-navbar-var-navbar}__subitem--bl {
  left:auto;
  right:0;
}