<?php $this->template($messagebar);?>
<div id="dashmenu"></div>
<div id="dashbox"></div>
<div id="dashErrorBox"></div>
<?= /* Save this for a future adventure...erm venture
<script>
	var dashControl = new Vue({
		el: '#toolbar',
		data: {
			showOpen: true,
			showClose: false
		},
		methods: {
			open: function (e) {
				e.preventDefault();
				axios.get('?app=dashboard&pageName=app', {transformResponse: []})
				.then(response => {
					window.document.getElementById('dashmenu').innerHTML = response.data;
				});
				this.showOpen = false;
				this.showClose = true;
			},
			close: function (e) {
				e.preventDefault();
				var el = window.document.getElementById('dashmenu');
				while (el.firstChild) el.removeChild(el.firstChild);
				this.showClose = false;
				this.showOpen = true;
			}
		}
	}, console.log('dashcontrols loaded'));
</script>
*/ '';?>
	
