<div>
	<label>HTML</label>
	<?php $editor = \Clay\Application('summernote','editor'); $this->template($editor->action('view','textarea')); ?>
	<textarea class="textarea" name="content[text]" id="content"></textarea>
</div>