<div>
	<label>HTML</label>
	<textarea class="textarea" name="content[text]" id="content"><?= $content; ?></textarea>
	<?php //$editor = \Clay\Application('wysihtml5','editor'); $this->template($editor->action('view')); ?>
	<?php $editor = \Clay\Application('summernote','editor'); $this->template($editor->action('view','textarea')); ?>
</div>