// badge Component




// Options

$iota-components-badge                   : true;

$iota-components-badge-namespace         : 'badge' !default;

$iota-components-badge-padding           : $iota-global-gutter-default/2 !default;
$iota-components-badge-border            : none !default;
$iota-components-badge-border-radius     : 25px !default;
$iota-components-badge-background        : $background-color-dark !default;
$iota-components-badge-margin            : 3px 0 !default;
$iota-components-badge-position          : relative !default;
$iota-components-badge-width             : auto !default;
$iota-components-badge-shadow            : none !default;
$iota-components-badge-color             : $background-text-color-dark !default;

// Helper Local Variables

$iota-components-badge-var-badge         : $iota-global-components-namespace + $iota-components-badge-namespace;

// badge Component

.#{$iota-components-badge-var-badge} {
  padding: $iota-components-badge-padding;
  background: $iota-components-badge-background;
  border: $iota-components-badge-border;
  margin: $iota-components-badge-margin;
  position: $iota-components-badge-position;
  width: $iota-components-badge-width;
  box-sizing: border-box;
  box-shadow: $iota-components-badge-shadow;
  color: $iota-components-badge-color;
  border-radius: $iota-components-badge-border-radius;
}