<div class="c-app__head">
  <h1><a href="<?php echo \Clay\Application::url('dashboard');?>" class="dashlink" title="Dashboard">Dashboard</a> / 
  <a href="<?php echo \Clay\Application::url('pages','pages','manage');?>" class="dashlink" title="Manage Users">Manage Pages</a> / 
  New Page</h1>
</div>
<div class="c-app__content">
<?php $form->template(); ?>
</div>