.app-pager-num a:link, .app-pager a:visited {
	color:#009FBC;font-weight:bold;text-decoration:none;
}
	
.app-pager-num, .app-pager-num-active {
	background-color: #ffffff; font-weight:bold;padding:4px;
}
	
.app-pager-num {
	border:1px solid #E2E2E2;
}
	
.app-pager-num-active {
	border:1px solid #d6d4d4;
}
	
.app-pager-num:hover {
	background-color: #FFFFFF;
}