<div class="c-card">
	<div class="c-card__header">
		<div class="c-card__title c-card__title--bar">
			<i class="fa fa-cube dash-icon-lg"></i> DataObjects
		</div>
	</div>
	<div class="c-card__content">
		<?php if (!empty($admin))?><a href="<?= $admin; ?>" class="dashlink">Add/Remove</a><br />
		<a href="<?= $view; ?>" class="dashlink">DataObjects Page</a><br />
	</div>
</div>