<style type="text/css">
	div.inst-group {
		float:left;width:150px;padding:10px;text-align:center;
	}
	img.inst-icon {
		display: block;margin-left: auto;margin-right: auto;
	}
</style>
<section class="c-app">
	<div class="c-app__head">
		<h1>Applications</h1>
	</div>
	<div class="c-app__content">
	<br style="clear:both;" />
	</div>
</section>