// Input Component

// Options

$iota-components-input            : true;

$iota-components-input-namespace  : 'field' !default;

$iota-components-input-color      : buttontext !default; // rgb(255, 255, 255) !default;
$iota-components-input-margin     : 0 !default;
$iota-components-input-padding    : 5px 12px !default;
$iota-components-input-border     : 1px solid white !default;
$iota-components-input-background : #ffffff !default; //rgb(57, 178, 255) !default;
$iota-components-input-border-radius: 3px !default;
$iota-components-input-shadow     : 0 0 1px $background-color-primary, 0 7px 6px -6px #777 !default;

// Helper Local Variables

$iota-components-input-var-input: $iota-global-components-namespace + $iota-components-input-namespace;

// Input Component 

.#{$iota-components-input-var-input}{
  display: inline-block;
  margin: $iota-components-input-margin;
  padding: $iota-components-input-padding;
  font: inherit;
  -webkit-font-smoothing: inherit;
  font-weight: initial;
  letter-spacing: inherit;
  line-height:18px;
  border-radius: $iota-components-input-border-radius;
  border: $iota-components-input-border;
  box-shadow: $iota-components-input-shadow;
  color: $iota-components-input-color;
  background: $iota-components-input-background;
  width: 100%;
}

.#{$iota-components-input-var-input}:hover { 
  border: 1px solid rgba(81, 203, 238, 1);
  box-shadow: 0 0 1px rgba(81, 204, 238, 0.637);
}

.#{$iota-components-input-var-input}:focus { 
  border: 1px solid rgba(81, 203, 238, 1);
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

textarea.#{$iota-components-input-var-input}{
  min-height: min-content;
}

input[type=checkbox].#{$iota-components-input-var-input}, .#{$iota-components-input-var-input}__checkbox {

  width: 20px;
  height: 20px;
  border: none;
  box-shadow: none;

}

.#{$iota-components-input-var-input}--checkbox {
  padding: 10px 5px;
  line-height: 20px;
  margin-top: 10px;
}

.#{$iota-components-input-var-input}--checkbox label {
  margin: 0;
  padding: 0;
  display: inline-block !important;
  margin-left: 10px;
}

