<section class="c-app">
	<div class="c-app__head"><h1>Clay</h1>
	#@TODO: Add navigation trails here</div>
	<div class="c-app__content">
		The component you've requested doesn't have a template for this action.  
		Please add a template to the 
		<?php if(!empty($args['application'])){ echo 'application: '.$args['application'].' as /'.$args['application'].'/templates/'.$args['template'].'.tpl';} 
			if(!empty($args['theme'])){ echo 'theme: '.$args['theme'].' as applications/'.$args['application'].'/templates/'.$args['template'].'.tpl';}?>
	</div>
</section>