<div class="c-card">
	<div class="c-card__header">
		<div class="c-card__title c-card__title--bar">
			<i class="fa fa-envelope dash-icon-lg"></i> Contact
		</div>
	</div>
	<div class="c-card__content">
			<?php if(!empty($admin))?><a href="<?= $admin; ?>" class="dashlink">Settings</a><br />
			<a href="<?= $view; ?>">Contact Page</a><br />
	</div>
</div>